_includes/header.html
<!--to test is open change below to .mobile-nav.is-open--><div class="mobile-nav"><a href="/kaizen/" class="blog">KAIZEN</a><ul><!--li: a(href="about.html") About Me--><li class="blog-mobile"><a href="/kaizen/">KAIZEN</a></li><li><a href="/cv/">CV </a></li><li><a href="/curio/">Curio </a></li><li><a href="/novelty/">Novelty</a></li><!--li: a(href="#contact") Contact --></ul></div><header><div class="header-position"><a href="/"><h1 class="logo">Grace Brentano</h1></a><nav class="site-nav"><a href="/kaizen/" class="blog">KAIZEN</a><ul><!--li: a(href="about.html") About Me--><li class="blog-mobile"><a href="/kaizen/">KAIZEN</a></li><li><a href="/cv/">CV </a></li><li><a href="/curio/">Curio </a></li><li><a href="/novelty/">Novelty</a></li><!--li: a(href="#contact") Contact --></ul></nav><!--a(href="mailto:kaizenbygrace@gmail.com").email-link chat w/ me--><a href="/chat/" class="email-link">chat w/ me </a><div class="mobile-nav-toggle"><span></span></div></div></header>

_jadefiles/header.jade
mixin nav-content()
  a(href="/kaizen/").blog KAIZEN
  ul
    //li: a(href="about.html") About Me
    li.blog-mobile: a(href="/kaizen/") KAIZEN
    li: a(href="/cv/") CV 
    li: a(href="/curio/") Curio 
    li: a(href="/novelty/") Novelty
    
    //li: a(href="#contact") Contact 

//to test is open change below to .mobile-nav.is-open
.mobile-nav
  +nav-content()

header
  .header-position
    a(href="/")
      h1.logo Grace Brentano

    nav.site-nav
      +nav-content()
    

    //a(href="mailto:kaizenbygrace@gmail.com").email-link chat w/ me
    a(href="/chat/").email-link chat w/ me 

    .mobile-nav-toggle: span
