_includes/home.html
<section class="home"><div class="container"><div class="color-wheel"><span>XFLOE</span><ul><li><a href="#" class="cdb9b5e"></a></li><li><a href="#" class="cc8b148">start</a></li><li><a href="#" class="c8ab34b"></a></li><li><a href="#" class="c51b5a3">n=2</a></li><li><a href="#" class="c4e7d8d"></a></li><li><a href="#" class="c5c6182">lists</a></li><li><a href="#" class="c926174"></a></li><li><a href="#" class="cc44646">grow</a></li></ul></div><!-- end color-wheel--><!-- end container--></div></section>

_jadefiles/home.jade
section.home
  .container
    .color-wheel
      span XFLOE
      ul
        li
          a.cdb9b5e(href='#')
        li
          a.cc8b148(href='#') start
        li
          a.c8ab34b(href='#')
        li
          a.c51b5a3(href='#') n=2
        li
          a.c4e7d8d(href='#')
        li
          a.c5c6182(href='#') lists
        li
          a.c926174(href='#')
        li
          a.cc44646(href='#') grow
    // end color-wheel
    // end container
