_includes/section-youtube.html
<section class="youtube"><div class="flex flex-center"><div class="col-1"><div class="video-strip"></div></div><div class="col-1 order-first"> <p class="home-lead outdented">...around the world. </p><a href="https://www.youtube.com/channel/UCzv92Enje8L7wLLsi-rFadw?view_as=subscriber" class="home-cta">Watch on Youtube</a></div></div></section>

_jadefiles/section-youtube.jade
section.youtube
  .flex.flex-center
  
    .col-1
      .video-strip
            
    .col-1.order-first  
      p.home-lead.outdented ...around the world. 
      a(href="https://www.youtube.com/channel/UCzv92Enje8L7wLLsi-rFadw?view_as=subscriber").home-cta Watch on Youtube
      
